/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer{
    position: relative;
    padding: var(--theme--footer-padding-desktop, 0);
	background-color: var(--theme--footer-background);
}

.site-footer .fixed{
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    position: fixed;
}

.site-footer .builder-item{
    width: 100%;
}

.site-footer .builder-column.inline .builder-item{
    max-width: 100%;
    width: fit-content;
}

/* Blocks */
.site-footer .wp-block-image{
    margin-top: 0px;
}

.site-footer .wp-block-social-links.is-style-logos-only .wp-social-link a{
    display: flex;
    align-items: center;
}

/* Rows */
.builder-footer_row_above{
    margin: var(--theme--footer-row-above-margin-desktop);
    padding: var(--theme--footer-row-above-padding-desktop);
    border-color: var(--theme--footer-row-above-border-color);
    border-width: 0 0 var(--theme--footer-row-above-border-width, 0px) 0;
    background: var(--theme--footer-row-above-background);
}

.builder-footer_row_main{
    margin: var(--theme--footer-row-main-margin-desktop);
    padding: var(--theme--footer-row-main-padding-desktop);
    border-color: var(--theme--footer-row-main-border-color);
    border-width: 0 0 var(--theme--footer-row-main-border-width, 0px) 0;
    background: var(--theme--footer-row-main-background);
}

.builder-footer_row_below{
    margin: var(--theme--footer-row-below-margin-desktop);
    padding: var(--theme--footer-row-below-padding-desktop);
    border-color: var(--theme--footer-row-below-border-color);
    border-width: 0 0 var(--theme--footer-row-below-border-width, 0px) 0;
    background: var(--theme--footer-row-below-background);
}

/* Columns */
.builder-footer_row_above .builder-column-1{
    margin: var(--theme--footer-row-above-column1-margin-desktop);
    padding: var(--theme--footer-row-above-column1-padding-desktop);
}

.builder-footer_row_above .builder-column-2{
    margin: var(--theme--footer-row-above-column2-margin-desktop);
    padding: var(--theme--footer-row-above-column2-padding-desktop);
}

.builder-footer_row_above .builder-column-3{
    margin: var(--theme--footer-row-above-column3-margin-desktop);
    padding: var(--theme--footer-row-above-column3-padding-desktop);
}

.builder-footer_row_above .builder-column-4{
    margin: var(--theme--footer-row-above-column4-margin-desktop);
    padding: var(--theme--footer-row-above-column4-padding-desktop);
}

.builder-footer_row_above .builder-column-5{
    margin: var(--theme--footer-row-above-column5-margin-desktop);
    padding: var(--theme--footer-row-above-column5-padding-desktop);
}

.builder-footer_row_above .builder-column-6{
    margin: var(--theme--footer-row-above-column6-margin-desktop);
    padding: var(--theme--footer-row-above-column6-padding-desktop);
}

.builder-footer_row_main .builder-column-1{
    margin: var(--theme--footer-row-main-column1-margin-desktop);
    padding: var(--theme--footer-row-main-column1-padding-desktop);
}

.builder-footer_row_main .builder-column-2{
    margin: var(--theme--footer-row-main-column2-margin-desktop);
    padding: var(--theme--footer-row-main-column2-padding-desktop);
}

.builder-footer_row_main .builder-column-3{
    margin: var(--theme--footer-row-main-column3-margin-desktop);
    padding: var(--theme--footer-row-main-column3-padding-desktop);
}

.builder-footer_row_main .builder-column-4{
    margin: var(--theme--footer-row-main-column4-margin-desktop);
    padding: var(--theme--footer-row-main-column4-padding-desktop);
}

.builder-footer_row_main .builder-column-5{
    margin: var(--theme--footer-row-main-column5-margin-desktop);
    padding: var(--theme--footer-row-main-column5-padding-desktop);
}

.builder-footer_row_main .builder-column-6{
    margin: var(--theme--footer-row-main-column6-margin-desktop);
    padding: var(--theme--footer-row-main-column6-padding-desktop);
}

.builder-footer_row_below .builder-column-1{
    margin: var(--theme--footer-row-below-column1-margin-desktop);
    padding: var(--theme--footer-row-below-column1-padding-desktop);
}

.builder-footer_row_below .builder-column-2{
    margin: var(--theme--footer-row-below-column2-margin-desktop);
    padding: var(--theme--footer-row-below-column2-padding-desktop);
}

.builder-footer_row_below .builder-column-3{
    margin: var(--theme--footer-row-below-column3-margin-desktop);
    padding: var(--theme--footer-row-below-column3-padding-desktop);
}

.builder-footer_row_below .builder-column-4{
    margin: var(--theme--footer-row-below-column4-margin-desktop);
    padding: var(--theme--footer-row-below-column4-padding-desktop);
}

.builder-footer_row_below .builder-column-5{
    margin: var(--theme--footer-row-below-column5-margin-desktop);
    padding: var(--theme--footer-row-below-column5-padding-desktop);
}

.builder-footer_row_below .builder-column-6{
    margin: var(--theme--footer-row-below-column6-margin-desktop);
    padding: var(--theme--footer-row-below-column6-padding-desktop);
}

/* Block Widgets
--------------------------------------------- */
.site-footer .widget ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer .widgettitle {
    font-size: 18px;
    font-weight: 600;
	margin-top: 0;
    margin-bottom: 20px;
}

.site-footer .widget ul li:not(.wp-block-social-link){
	line-height: 1.4;
    letter-spacing: .05em;
}

.site-footer .widget ul li:not(.wp-block-social-link) a{
    padding: 0px;
	display: block;
    margin-bottom: 8px;
    text-decoration: none;
}

/* Footer Menu */
.component-footer-menu{
    margin: var(--theme--footer-menu-margin-desktop);
    padding: var(--theme--footer-menu-padding-desktop);
}

.block-footer-menu ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 72px;
}

.block-footer-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--theme--footer-menu-color);
}

.block-footer-menu ul li:hover a{
    color: var(--theme--footer-menu-color-hover);
}

/* Widget Area 1 */
.component-widget1{
    width: 100%;
    margin: var(--theme--widget1-margin-desktop);
    padding: var(--theme--widget1-padding-desktop);
}

.footer-widget1 h3,
.footer-widget1 .wp-block-heading{
    color: var(--theme--widget1-title-color);
}

.footer-widget1 .widget{
    color: var(--theme--widget1-text-color);
}

.footer-widget1 .widget a{
    color: var(--theme--widget1-link-color);
}

.footer-widget1 .widget a:hover{
    color: var(--theme--widget1-link-hover-color);
}

/* Widget Area 2 */
.component-widget2{
    width: 100%;
    margin: var(--theme--widget2-margin-desktop);
    padding: var(--theme--widget2-padding-desktop);
}

.footer-widget2 h3,
.footer-widget2 .wp-block-heading{
    color: var(--theme--widget2-title-color);
}

.footer-widget2 .widget{
    color: var(--theme--widget2-text-color);
}

.footer-widget2 .widget a{
    color: var(--theme--widget2-link-color);
}

.footer-widget2 .widget a:hover{
    color: var(--theme--widget2-link-hover-color);
}

/* Widget Area 3 */
.component-widget3{
    width: 100%;
    margin: var(--theme--widget3-margin-desktop);
    padding: var(--theme--widget3-padding-desktop);
}

.footer-widget3 h3,
.footer-widget3 .wp-block-heading{
    color: var(--theme--widget3-title-color);
}

.footer-widget3 .widget{
    color: var(--theme--widget3-text-color);
}

.footer-widget3 .widget a{
    color: var(--theme--widget3-link-color);
}

.footer-widget3 .widget a:hover{
    color: var(--theme--widget3-link-hover-color);
}

/* Widget Area 4 */
.component-widget4{
    width: 100%;
    margin: var(--theme--widget4-margin-desktop);
    padding: var(--theme--widget4-padding-desktop);
}

.footer-widget4 h3,
.footer-widget4 .wp-block-heading{
    color: var(--theme--widget4-title-color);
}

.footer-widget4 .widget{
    color: var(--theme--widget4-text-color);
}

.footer-widget4 .widget a{
    color: var(--theme--widget4-link-color);
}

.footer-widget4 .widget a:hover{
    color: var(--theme--widget4-link-hover-color);
}

/* Widget Area 5 */
.component-widget5{
    width: 100%;
    margin: var(--theme--widget5-margin-desktop);
    padding: var(--theme--widget5-padding-desktop);
}

.footer-widget5 h3,
.footer-widget5 .wp-block-heading{
    color: var(--theme--widget5-title-color);
}

.footer-widget5 .widget{
    color: var(--theme--widget5-text-color);
}

.footer-widget5 .widget a{
    color: var(--theme--widget5-link-color);
}

.footer-widget5 .widget a:hover{
    color: var(--theme--widget5-link-hover-color);
}

/* Widget Area 6 */
.component-widget6{
    width: 100%;
    margin: var(--theme--widget6-margin-desktop);
    padding: var(--theme--widget6-padding-desktop);
}

.footer-widget6 h3,
.footer-widget6 .wp-block-heading{
    color: var(--theme--widget6-title-color);
}

.footer-widget6 .widget{
    color: var(--theme--widget6-text-color);
}

.footer-widget6 .widget a{
    color: var(--theme--widget6-link-color);
}

.footer-widget6 .widget a:hover{
    color: var(--theme--widget6-link-hover-color);
}


/* Widget Area */
.component-widget-area{
    width: 100%;
    margin: var(--theme--widget_area-margin-desktop);
    padding: var(--theme--widget_area-padding-desktop);
}

.footer-widget-area h3,
.footer-widget-area .wp-block-heading{
    color: var(--theme--widget_area-title-color);
}

.footer-widget-area .widget{
    color: var(--theme--widget_area-text-color);
}

.footer-widget-area .widget a{
    color: var(--theme--widget_area-link-color);
}

.footer-widget-area .widget a:hover{
    color: var(--theme--widget_area-link-hover-color);
}

/* Button */
.footer-component-button{
    margin: var(--theme--footer-button-margin-desktop);
    padding: var(--theme--footer-button-padding-desktop);
}

.footer-component-button .button{
    color: var(--footer-button-color);
    background: var(--footer-button-background);
    border-color: var(--footer-button-border-color);
}

.footer-component-button .button:hover{
    color: var(--footer-button-color-hover);
    background: var(--footer-button-background-hover);
    border-color: var(--footer-button-border-color-hover);
}

/* HTML */
.footer-component-html{
    margin: var(--theme--footer-html-margin-desktop);
    padding: var(--theme--footer-html-padding-desktop);
}

.footer-component-html .html{
    color: var(--footer-html-color);
}

.footer-component-html .html h1,
.footer-component-html .html h2,
.footer-component-html .html h3,
.footer-component-html .html h4,
.footer-component-html .html h5,
.footer-component-html .html h6{
    color: var(--footer-html-title-color);
}

.footer-component-html .html a{
    color: var(--footer-html-link-color);
}

.footer-component-html .html a:hover{
    color: var(--footer-html-link-hover-color);
}

/* Credits */
.component-credits{
    width: 100%;
    margin: var(--theme--credits-margin-desktop);
    padding: var(--theme--credits-padding-desktop);
}

.component-credits .copyright{
    color: var(--theme--credits-color);
}

.component-credits .copyright a{
    text-decoration: none;
    color: var(--theme--credits-link-color)
}

.component-credits .copyright a:hover{
    color: var(--theme--credits-link-color-hover)
}

.component-credits .credits{
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 5px;
}

/* Copyright
--------------------------------------------- */
.site-footer .footer-bottom{
	color: var(--theme--credit-color);
	background-color: var(--theme--credit-background);
}

.site-footer .section-copyright{
    padding: 15px 0;
	display: flex;
}

.site-footer .section-copyright .copyright{
    font-size: 14px;
	margin: 0px;
}

.site-footer .section-copyright .copyright small{
	font-size: 14px;
	display: block;
}

.site-footer .section-copyright a{
    text-decoration: none;
    color: var(--theme--credit-link-color);
}

@media screen and (max-width: 880px ){
    .site-footer{
        padding: var(--theme--footer-padding-tablet, 0);
    }

    .builder-footer_row_above{
        margin: var(--theme--footer-row-above-margin-tablet);
        padding: var(--theme--footer-row-above-padding-tablet);
    }

    .builder-footer_row_main{
        margin: var(--theme--footer-row-main-margin-tablet);
        padding: var(--theme--footer-row-main-padding-tablet);
    }

    .builder-footer_row_below{
        margin: var(--theme--footer-row-below-margin-tablet);
        padding: var(--theme--footer-row-below-padding-tablet);
    }

    .builder-footer_row_above .builder-column-1{
        margin: var(--theme--footer-row-above-column1-margin-tablet);
        padding: var(--theme--footer-row-above-column1-padding-tablet);
    }

    .builder-footer_row_above .builder-column-2{
        margin: var(--theme--footer-row-above-column2-margin-tablet);
        padding: var(--theme--footer-row-above-column2-padding-tablet);
    }

    .builder-footer_row_above .builder-column-3{
        margin: var(--theme--footer-row-above-column3-margin-tablet);
        padding: var(--theme--footer-row-above-column3-padding-tablet);
    }

    .builder-footer_row_above .builder-column-4{
        margin: var(--theme--footer-row-above-column4-margin-tablet);
        padding: var(--theme--footer-row-above-column4-padding-tablet);
    }

    .builder-footer_row_above .builder-column-5{
        margin: var(--theme--footer-row-above-column5-margin-tablet);
        padding: var(--theme--footer-row-above-column5-padding-tablet);
    }

    .builder-footer_row_above .builder-column-6{
        margin: var(--theme--footer-row-above-column6-margin-tablet);
        padding: var(--theme--footer-row-above-column6-padding-tablet);
    }

    .builder-footer_row_main .builder-column-1{
        margin: var(--theme--footer-row-main-column1-margin-tablet);
        padding: var(--theme--footer-row-main-column1-padding-tablet);
    }

    .builder-footer_row_main .builder-column-2{
        margin: var(--theme--footer-row-main-column2-margin-tablet);
        padding: var(--theme--footer-row-main-column2-padding-tablet);
    }

    .builder-footer_row_main .builder-column-3{
        margin: var(--theme--footer-row-main-column3-margin-tablet);
        padding: var(--theme--footer-row-main-column3-padding-tablet);
    }

    .builder-footer_row_main .builder-column-4{
        margin: var(--theme--footer-row-main-column4-margin-tablet);
        padding: var(--theme--footer-row-main-column4-padding-tablet);
    }

    .builder-footer_row_main .builder-column-5{
        margin: var(--theme--footer-row-main-column5-margin-tablet);
        padding: var(--theme--footer-row-main-column5-padding-tablet);
    }

    .builder-footer_row_main .builder-column-6{
        margin: var(--theme--footer-row-main-column6-margin-tablet);
        padding: var(--theme--footer-row-main-column6-padding-tablet);
    }

    .builder-footer_row_below .builder-column-1{
        margin: var(--theme--footer-row-below-column1-margin-tablet);
        padding: var(--theme--footer-row-below-column1-padding-tablet);
    }

    .builder-footer_row_below .builder-column-2{
        margin: var(--theme--footer-row-below-column2-margin-tablet);
        padding: var(--theme--footer-row-below-column2-padding-tablet);
    }

    .builder-footer_row_below .builder-column-3{
        margin: var(--theme--footer-row-below-column3-margin-tablet);
        padding: var(--theme--footer-row-below-column3-padding-tablet);
    }

    .builder-footer_row_below .builder-column-4{
        margin: var(--theme--footer-row-below-column4-margin-tablet);
        padding: var(--theme--footer-row-below-column4-padding-tablet);
    }

    .builder-footer_row_below .builder-column-5{
        margin: var(--theme--footer-row-below-column5-margin-tablet);
        padding: var(--theme--footer-row-below-column5-padding-tablet);
    }

    .builder-footer_row_below .builder-column-6{
        margin: var(--theme--footer-row-below-column6-margin-tablet);
        padding: var(--theme--footer-row-below-column6-padding-tablet);
    }

    .component-footer-menu{
        margin: var(--theme--footer-menu-margin-tablet);
        padding: var(--theme--footer-menu-padding-tablet);
    }

    .component-credits{
        margin: var(--theme--credits-margin-tablet);
        padding: var(--theme--credits-padding-tablet);
    }

    .component-widget1{
        margin: var(--theme--widget1-margin-tablet);
        padding: var(--theme--widget1-padding-tablet);
    }

    .component-widget2{
        margin: var(--theme--widget2-margin-tablet);
        padding: var(--theme--widget2-padding-tablet);
    }

    .component-widget3{
        margin: var(--theme--widget3-margin-tablet);
        padding: var(--theme--widget3-padding-tablet);
    }

    .component-widget4{
        margin: var(--theme--widget4-margin-tablet);
        padding: var(--theme--widget4-padding-tablet);
    }

    .site-footer .component-credits{
        margin: var(--theme--credits-margin-tablet, 0);
        padding: var(--theme--credits-padding-tablet, 0)
    }

    .footer-component-html{
        margin: var(--theme--footer-html-margin-tablet);
        padding: var(--theme--footer-html-padding-tablet);
    }

    .footer-component-button{
        margin: var(--theme--footer-button-margin-tablet);
        padding: var(--theme--footer-button-padding-tablet);
    }
}

@media screen and (max-width: 768px ){
    .footer .builder-inner{
        grid-template-columns: 100%;
    }

    .footer .builder-column:empty{
        display: none;
    }

    .site-footer .component-credits{
        width: 100%;
    }
}

@media screen and (max-width: 572px ){
    .site-footer{
        padding: var(--theme--footer-padding-mobile, 0);
    }

    .builder-footer_row_above{
        margin: var(--theme--footer-row-above-margin-mobile);
        padding: var(--theme--footer-row-above-padding-mobile);
    }

    .builder-footer_row_main{
        margin: var(--theme--footer-row-main-margin-mobile);
        padding: var(--theme--footer-row-main-padding-mobile);
    }

    .builder-footer_row_below{
        margin: var(--theme--footer-row-below-margin-mobile);
        padding: var(--theme--footer-row-below-padding-mobile);
    }

    .builder-footer_row_above .builder-column-1{
        margin: var(--theme--footer-row-above-column1-margin-mobile);
        padding: var(--theme--footer-row-above-column1-padding-mobile);
    }

    .builder-footer_row_above .builder-column-2{
        margin: var(--theme--footer-row-above-column2-margin-mobile);
        padding: var(--theme--footer-row-above-column2-padding-mobile);
    }

    .builder-footer_row_above .builder-column-3{
        margin: var(--theme--footer-row-above-column3-margin-mobile);
        padding: var(--theme--footer-row-above-column3-padding-mobile);
    }

    .builder-footer_row_above .builder-column-4{
        margin: var(--theme--footer-row-above-column4-margin-mobile);
        padding: var(--theme--footer-row-above-column4-padding-mobile);
    }

    .builder-footer_row_above .builder-column-5{
        margin: var(--theme--footer-row-above-column5-margin-mobile);
        padding: var(--theme--footer-row-above-column5-padding-mobile);
    }

    .builder-footer_row_above .builder-column-6{
        margin: var(--theme--footer-row-above-column6-margin-mobile);
        padding: var(--theme--footer-row-above-column6-padding-mobile);
    }

    .builder-footer_row_main .builder-column-1{
        margin: var(--theme--footer-row-main-column1-margin-mobile);
        padding: var(--theme--footer-row-main-column1-padding-mobile);
    }

    .builder-footer_row_main .builder-column-2{
        margin: var(--theme--footer-row-main-column2-margin-mobile);
        padding: var(--theme--footer-row-main-column2-padding-mobile);
    }

    .builder-footer_row_main .builder-column-3{
        margin: var(--theme--footer-row-main-column3-margin-mobile);
        padding: var(--theme--footer-row-main-column3-padding-mobile);
    }

    .builder-footer_row_main .builder-column-4{
        margin: var(--theme--footer-row-main-column4-margin-mobile);
        padding: var(--theme--footer-row-main-column4-padding-mobile);
    }

    .builder-footer_row_main .builder-column-5{
        margin: var(--theme--footer-row-main-column5-margin-mobile);
        padding: var(--theme--footer-row-main-column5-padding-mobile);
    }

    .builder-footer_row_main .builder-column-6{
        margin: var(--theme--footer-row-main-column6-margin-mobile);
        padding: var(--theme--footer-row-main-column6-padding-mobile);
    }

    .builder-footer_row_below .builder-column-1{
        margin: var(--theme--footer-row-below-column1-margin-mobile);
        padding: var(--theme--footer-row-below-column1-padding-mobile);
    }

    .builder-footer_row_below .builder-column-2{
        margin: var(--theme--footer-row-below-column2-margin-mobile);
        padding: var(--theme--footer-row-below-column2-padding-mobile);
    }

    .builder-footer_row_below .builder-column-3{
        margin: var(--theme--footer-row-below-column3-margin-mobile);
        padding: var(--theme--footer-row-below-column3-padding-mobile);
    }

    .builder-footer_row_below .builder-column-4{
        margin: var(--theme--footer-row-below-column4-margin-mobile);
        padding: var(--theme--footer-row-below-column4-padding-mobile);
    }

    .builder-footer_row_below .builder-column-5{
        margin: var(--theme--footer-row-below-column5-margin-mobile);
        padding: var(--theme--footer-row-below-column5-padding-mobile);
    }

    .builder-footer_row_below .builder-column-6{
        margin: var(--theme--footer-row-below-column6-margin-mobile);
        padding: var(--theme--footer-row-below-column6-padding-mobile);
    }

    .component-footer-menu{
        margin: var(--theme--footer-menu-margin-tablet);
        padding: var(--theme--footer-menu-padding-tablet);
    }

    .component-credits{
        margin: var(--theme--credits-margin-mobile);
        padding: var(--theme--credits-padding-mobile);
    }

    .component-widget1{
        margin: var(--theme--widget1-margin-mobile);
        padding: var(--theme--widget1-padding-mobile);
    }

    .component-widget2{
        margin: var(--theme--widget2-margin-mobile);
        padding: var(--theme--widget2-padding-mobile);
    }

    .component-widget3{
        margin: var(--theme--widget3-margin-mobile);
        padding: var(--theme--widget3-padding-mobile);
    }

    .component-widget4{
        margin: var(--theme--widget4-margin-mobile);
        padding: var(--theme--widget4-padding-mobile);
    }

    .site-footer .component-credits{
        margin: var(--theme--credits-margin-mobile, 0);
        padding: var(--theme--credits-padding-mobile, 0)
    }

    .footer-component-html{
        margin: var(--theme--footer-html-margin-mobile);
        padding: var(--theme--footer-html-padding-mobile);
    }

    .footer-component-button{
        margin: var(--theme--footer-button-margin-mobile);
        padding: var(--theme--footer-button-padding-mobile);
    }
}
